<!DOCTYPE html>
<html lang='en'>
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap.css" />
    <title>{% block title %}42 Coffee Cups Test (Marilyna){% endblock %}</title>
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    {% block extrahead %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>42 Coffee Cups Test Assignment</h1>
        </div>
        {% include "contacts/navbar.html" %}
        <hr>
        {% block content %}{% endblock content %}
    </div>
</body>
</html>