{% extends "contacts/base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <form class="form-horizontal" method="POST" enctype="multipart/form-data" action=".">
            {% include "contacts/edit_form.html" %}
        </form>        
    {% else %}
        <div class="alert alert-error">
            You are not signed in. Please proceed the signing in first
        </div>
    {% endif %}
    <script type="text/javascript">
    $(function(){
        var form = $('form')
        form.submit(function(){
            var data = form.serialize();
            $('#sendbutton').attr('disabled', true);
            $('#status').text('Saving...');
            $.ajax({
                url: this.action,
                data: new FormData(this),
                contentType: false,
                processData: false,
                type: 'POST'
            }).done(function(data) {
                form.html(data);
                $('#status').text('Form is saved');
                $('.datepicker').datepicker();
            }).fail(function(data) {
                $('form input, form textarea').attr('disabled', false);
                $('#status').text('Error');
            });
            $('form input, form textarea').attr('disabled', true);
            return false;
        });
    })
    </script>
{% endblock %}