{% csrf_token %}
<div class="row-fluid">
    <div class="span6">
        {% include "contacts/form_field.html" with field=form.name %}
        {% include "contacts/form_field.html" with field=form.last_name %}
        {% include "contacts/form_field.html" with field=form.birth_date %}
        {% include "contacts/form_field.html" with field=form.photo %}
        {% if contact.photo %}
            <div class="control-group">
                <div class="controls">
                    <img src="{{ MEDIA_URL }}{{ contact.photo }}" class="img-polaroid"/><br>
                </div>    
            </div>
        {% endif %}
    </div>
    <div class="span4">
        {% include "contacts/form_field.html" with field=form.email %}
        {% include "contacts/form_field.html" with field=form.jabber %}
        {% include "contacts/form_field.html" with field=form.skype %}
        {% include "contacts/form_field.html" with field=form.other_contacts %}
        {% include "contacts/form_field.html" with field=form.bio %}
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <button type="submit" id="sendbutton" class="btn btn-primary">Save</button>
        <a href="{% url contacts.views.detail contact.id %}" class="btn">Cancel</a>
        <p id="status" />
    </div>
</div>
