{% extends "contacts/base.html" %}
{% block content %}
    <form class="form-horizontal" method="POST" action="{% url contacts.views.sign_in %}">
        {% csrf_token %}
        {% if login_form.non_field_errors %}
            <div class="alert alert-error">
                {{ login_form.non_field_errors.0 }}
            </div>
        {% endif %}
        {% for field in login_form %}
            {% include "contacts/form_field.html" with field=field %}
        {% endfor %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Sign in</button>
            </div>
        </div>
    </form>
{% endblock content %}